<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/home" style="text-decoration: none;">
            <div class="m-2" style="display: flex; justify-content: flex-start;">
                <img src="/static/images/logo.png" id="logo" style="height: 50px; width: 50px;">
            </div>
        </a>
        <div class="collapse navbar-collapse align-items-center" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{#if userPremiumOrAdmin}}
                <li class="nav-item">
                    <a class="nav-link" href="/realtimeproducts"><i class="fas fa-tasks  m-2"></i> Product Manager</a>
                </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="bi bi-house-fill  m-2"></i>Inicio</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/profile"><i class="fas fa-id-card  m-2"></i> Tu perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/sessions/logout"><i class="fas fa-door-open  m-2"></i> Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <h1 class="container mt-4 text-center text-primary">Bienvenidos al Chat!</h1>
<main class="container py-3">
    <section id="chat-container" class="border rounded p-3 bg-light">
        <article id="messages-log" class="mb-3">

        </article>
        <form id="form" class="d-flex">
            <input type="text" id="message-input" class="form-control me-2" placeholder="Escribe tu mensaje aquí...">
            <button id="send-button" type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Enviar</button>
        </form>
    </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>

<style>
    body {
    background: linear-gradient(45deg,#06c -52%,#000 81%,#a044e3 95%);
    
    }


#chat-container {
    background-color: #000000;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#messages-log {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

#form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#message-input {
    flex-grow: 1;
    border-radius: 50px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-right: 10px;
}

#send-button {
    border-radius: 50px;
    border-color: #3483fa;
    color: #3483fa;
    background-color: #fff;
    padding: 10px 20px;
}

#send-button:hover {
    background-color: #3483fa;
    color: #fff;
}
</style>
